evals/flujos/flujo-limpio.json
{
  "properties": {
    "displayName": "Legal - Alerta de contratos por vencer (Programado)",
    "description": "Cada dia a las 7am revisa los contratos que vencen en 30 dias y avisa al responsable. Try/Catch con Terminate; filtros y tope en el origen; conexiones por referencia.",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "triggers": {
        "Cada_dia_a_las_7am": {
          "type": "Recurrence",
          "recurrence": { "frequency": "Day", "interval": 1, "schedule": { "hours": ["7"] } }
        }
      },
      "actions": {
        "Try": {
          "type": "Scope",
          "runAfter": {},
          "description": "Logica principal: leer contratos filtrados en origen y avisar al responsable",
          "actions": {
            "Listar_contratos_por_vencer": {
              "type": "OpenApiConnection",
              "runAfter": {},
              "inputs": {
                "host": { "connectionName": "shared_sharepointonline", "operationId": "GetItems", "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline" },
                "parameters": {
                  "dataset": "@parameters('SitioLegal (demo_SitioLegal)')",
                  "table": "@parameters('ListaContratos (demo_ListaContratos)')",
                  "$filter": "Vence le '@{addDays(utcNow(), 30)}'",
                  "$top": 100
                },
                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT7S" }
              }
            },
            "Seleccionar_datos_del_aviso": {
              "type": "Select",
              "runAfter": { "Listar_contratos_por_vencer": ["Succeeded"] },
              "inputs": {
                "from": "@outputs('Listar_contratos_por_vencer')?['body/value']",
                "select": { "titulo": "@item()?['Title']", "vence": "@item()?['Vence']" }
              }
            },
            "Avisar_al_responsable": {
              "type": "OpenApiConnection",
              "runAfter": { "Seleccionar_datos_del_aviso": ["Succeeded"] },
              "inputs": {
                "host": { "connectionName": "shared_office365", "operationId": "SendEmailV2", "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365" },
                "parameters": {
                  "emailMessage/To": "@parameters('CorreoResponsable (demo_CorreoResponsable)')",
                  "emailMessage/Subject": "Contratos por vencer en 30 dias",
                  "emailMessage/Body": "@{body('Seleccionar_datos_del_aviso')}"
                },
                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT7S" }
              }
            }
          }
        },
        "Catch": {
          "type": "Scope",
          "runAfter": { "Try": ["Failed", "TimedOut"] },
          "description": "Registra el error y termina la corrida como fallida para que se note",
          "actions": {
            "Redactar_detalle_del_error": {
              "type": "Compose",
              "runAfter": {},
              "inputs": "@result('Try')"
            },
            "Terminar_como_fallido": {
              "type": "Terminate",
              "runAfter": { "Redactar_detalle_del_error": ["Succeeded"] },
              "inputs": { "runStatus": "Failed", "runError": { "code": "TryFallo", "message": "Fallo la revision diaria de contratos" } }
            }
          }
        }
      }
    },
    "connectionReferences": {
      "shared_sharepointonline": { "connectionName": "sp-legal", "source": "Invoker", "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline" },
      "shared_office365": { "connectionName": "o365-legal", "source": "Invoker", "id": "/providers/Microsoft.PowerApps/apis/shared_office365" }
    }
  }
}
